<!DOCTYPE html>
<html lang="en">
<head>
  <title>PaginaDemo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

</head>
<header>
  <!--<div class="fondo" id="footer">
    <h2> </h2>
    
  </div>-->
  <hr>
  <h2> </h2>
 
  <div class="row">
      <div class="col-sm d-flex flex-row justify-content-center align-items-center">
        <p class="align-middle">
          <img    style=" width: 60%; height: 60%; margin: 8px;" src="/assets/img/logopBecca.png" alt="image"
            
            align="left">
            </p>
      </div>
      <div class="col-sm">
        <h2 class="section-title">Becca Community</h2>
      </div>
      <div class="col-sm">
        <button class="button" onclick="window.open('https://beccasoftware.com')">QUIERO BECCA</button>
        &nbsp;
        <button class="button" onclick="window.open('https://beccapp.beccasoftware.com/registro')">UNETE A COMMUNITY</button>
      </div>
    </div>

<hr class="mb-5"/>
<div style="background-color: #18a369;
border: 1px solid #ccc;
padding: 50px;
text-align: center;">
    <div> 
        <h2 class="section-subtitle">La primera plataforma de venta de Servicios Profesionales</h2>
        <h3 class="section-subtitle">Encuentra al profesional que necesitas</h3>
    </div>
    <!-- <iframe  style="width: 50%; height: 315px;" src="https://www.youtube.com/embed/cmnBm0zWNc8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
    <iframe style="width: 50%; height: 315px;" src="https://www.youtube.com/embed/QC_wQ2YZQjM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<!-- width="560" height="315" -->
</header>
<body>
<!-- 
<ng-template #vartemp1>
  <h1>Hello from Template</h1>
  <h1>Hello KAHM</h1>
</ng-template>

 <div #myDiv></div> 
<div *ngTemplateOutlet="vartemp1"></div> -->

<div class="container my-4">

  <div class="container">
    
<hr class="mb-5"/>
<app-form>
  </app-form>
  
  </div>

</div>
</body>

<footer id="footer">
  <div class="container">
      <h3>Becca</h3>

      <div class="social-links">
          <!-- <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a> -->
          <a href="https://www.facebook.com/Becca-Software-104914818135444" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="https://www.instagram.com/becca_software/" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <!-- <a href="#" class="google-plus"><i class="fa fa-skype" aria-hidden="true"></i></a> -->
          <a href="https://www.linkedin.com/company/becca-software" class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </div>
      <div class="copyright">
          &copy; Copyright <strong><span>Becca Software</span></strong>. Todos los Derechos Reservados.
      </div>
      <!--<div class="credits">
        
          Diseñado por <a href="#">Karina Hurtado</a>
      </div>-->
  </div>
</footer><!-- End Footer -->
</html>